@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import './src/styles.scss';
#footer{background-color: #8D5DA7;
    }

#img{
    width: 250px;
}

.bi{
    color: white;
    font-size: 18px;
}
.logo{
    width: 3.5%;
}
.btn{
    font-size: 50px;
    color:#FDB515;
}
.control{
    background-color: white;

}
