<div class="container-fluid">
    <nav class="navbar row navbar-expand-lg navbar-light bg-light d-flex justify-content-center">

    <div class="row">
        <div class="col-2">
            <a class="navbar-brand d-flex justify-content-center" href="#"><img [src]="img"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-6">
            <div class="collapse navbar-collapse row mx-4" id="navbarNavAltMarkup">
                <div class="navbar-nav d-flex align-items-center" >
                    <a class="nav-link active col-3" aria-current="page" href="#">الرئيسية</a>
                    <a class="nav-link col-3 mx-4" href="#">التصنيفات</a>
                    <a class="nav-link col-3 mx-4" href="#">التطبيقات</a>
                    <a class="nav-link col-4 mx-4" href="#">طور تطبيق</a>
                </div>
            </div>
        </div>
    </div>
    </nav>
</div>