<div class="container-fluid mt-5">
    <div class="row mt-5" id="head">
        <div class="col-6 mt-5 mx-5">
            <div class="row">
                <div class="col-12 mt-2 mx-4" id="title">
                    كل ما تحتاجه لنمو متجرك في مكان واحد
                </div>
                <div class="row my-3 me-2">
                    <div class="col-9">
                        <p id="subh">مميزات سهولة تطبيقات زد تساعدك في سهولة وسرعة الاستفادة من خدمات وحلول سوق
                            التطبيقات لنمو متجرك</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1  my-3">
                    <span class="rounded-circle circlec mx-4 pt-1 d-flex align-items-center justify-content-center">
                        <img class="circle px-3 py-5" src="assets/Group 8435.png">
                    </span>
                </div>
                <div class="col-7 mx-5 my-2 d-flex  align-items-center">
                    <div class="descr">
                        سهولة التحكم وتفعيل تطبيقاتك من نفس لوحة التحكم لمتجرك
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1  my-3">
                    <span class="rounded-circle circlec mx-4 pt-1 d-flex align-items-center justify-content-center">
                        <img class="circle px-3 py-5" src="assets/Vector (1).png">
                    </span>

                </div>
                <div class="col-7 mx-5 my-2 d-flex  align-items-center">
                    <div class="descr">
                        دعم فني وتقني متكامل على مدار الساعة
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1  my-3">
                    <span class="rounded-circle circlec mx-4 pt-1 d-flex align-items-center justify-content-center">
                        <img class="circle px-3 py-5" src="assets/money-svgrepo-com 1.png">
                    </span>

                </div>
                <div class="col-7 mx-5 my-2 d-flex  align-items-center">
                    <div class="descr">
                        اسعار تنافسية مع تجربة مجانية وباقات أشتراك متنوعة
                    </div>
                </div>
            </div>
        
        <div class="row me-2 my-4">
            <div class="col-12 mt-2 mb-5">
                <button class="btn  py-2 mx-5 px-5" id="butn">تصفح التطبيقات <img src="assets\DownArrow 3.svg"></button>
            </div>
        </div>
        </div>
        <div class="col-5 my-5 me-5 ">
            <img [src]="topspan" id="topimg">
            <img [src]="img" class="" id="img">
            <img [src]="btmspan" id="btmspan">
        </div>

    </div>