<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12 text-center" id="title">
            طور من متجرك ووسع أفاقك التجارية مع سوق تطبيقات زد
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-4 mb-2">
        <div class="col-4 text-center" id="text">{{text}}</div>
    </div>
    <div class="row d-flex justify-content-center my-2">
        <div class="col-12 d-flex justify-content-center mt-2 mb-5">
        <button class="btn  py-2 mx-5 px-5" id="butn">تصفح التطبيقات <img src="assets\DownArrow 3.svg"></button>
    </div>
    
    <div class="row my-5" id="last">
        <div class="col-12 mb-4 d-flex justify-content-center ">
            <img [src]="topimg" id="topimg">
            <img [src]="img" id="slide">
            <img [src]="bgimg" id="bgspan">
        </div>
    </div>
</div>
